@import "./cssvariables";

.jsHead {
    position: fixed;
    width: 100%;
    background-color: $primaryColor;
    .jsNavigationTop {
        padding-top: 5px;
        padding-bottom: 5px;
        .jsLogo {
            height: 5rem;
            img {
                height: 100%;
            }
        }
        #headerContainer {
            li {
                margin: auto 1rem;
                a {
                    text-decoration: none;
                    color: #FFF;
                    font-size: 1.5rem;
                }
                a.dropdown-item {
                    color: $primaryColor;
                    &:active {
                        background-color: transparent;
                    }
                }             
            }          
        }
    }  
}