/*
.homeBackground {
    background-image: url("https://imagizer.imageshack.com/img923/6315/xuaOzN.jpg");
    filter: blur(5px);
    -webkit-filter: blur(8px);

    height: 100%;
    
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/

.home-content {
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.homePage-paragraph { 
    font-size: 1.25em; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}