body {
    background-color: #f5f5f5;
}

/*  IMPORTANT --- ADD MEDIA QUERIES */

.contactUs-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

#contact-form {
    padding-left: 1em;
    padding-right: 1em;
}
.contactForm-label {
    text-align: start;
}

#reset-form, #submit-form {
    width: -webkit-fill-available;
}

.contactForm_btn { margin-top: 0.5em; }