

/*  IMPORTANT --- ADD MEDIA QUERIES */

.contactUs-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactForm-label {
    text-align: start;
}

#reset-form, #submit-form {
    width: -webkit-fill-available;
}